/* Write your CSS code here. */
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #b48e8e, #ffc0bb);
}
.inner-container {
  background-color: white;
  border-radius: 12px;
  width: 80%;
  max-width: 606px;
  padding: 24px;
}
